/*Home Text*/
@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
background-color: #000000;
margin: 0;
overflow-x: hidden;
}

.hidden {
opacity: 0;
}

.console-container {
font-family: Khula;
font-size: 4em;
text-align: center;
height: 200px;
width: 600px;
display: block;
position: absolute;
color: white;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.console-underscore {
display: inline-block;
position: relative;
top: -0.14em;
left: 10px;
}

/*Sobre*/
.container h2 {
color: white;
text-align: center;
font-family: 'Anonymous Pro', monospace;
}
.container h4 {
text-align: justify;
color: white;
font-family: 'Anonymous Pro', monospace;
}

/*Imagem Sobre*/
.container img {
display: block;
margin: 20px auto;
width: 90%;
}

/*Alunos*/
.container2 {
text-align: center;
color: white;
font-family: 'Anonymous Pro', monospace;
}

/*Professor*/
.container3 img {
display: block;
margin: 20px auto;
width: 40%;
}

.container3 h2 {
color: white;
font-family: 'Anonymous Pro', monospace;
}

/*Card Alunos*/
a.btn.btn-primary {
background-color: rgb(3, 82, 1);
font-family: 'Anonymous Pro', monospace;
}

h5 {
font-family: 'Anonymous Pro', monospace;
font-size: 22px;
}

span#text {
font-family: 'Anonymous Pro', monospace;
font-size: 73px;
}

/*Hr*/
.slash-1 {
height: 10px;
color: #5cd646;
background-image: linear-gradient(-45deg,
  transparent,
  transparent 25%,
  currentColor 25%,
  currentColor 50%,
  transparent 50%,
  transparent 75%,
  currentColor 75%);
background-size: 10px 10px;
width: 85%;
}

h1 {
font-family: 'Anonymous Pro', monospace;
color: white;
text-align: center;
}

h5.card-title {
font-size: 17px;
}

/*Menu*/
body {
margin: 0;
padding: 0;
}

#menuToggle {
display: block;
position: relative;
top: 65px;
left: 20px;

z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle a {
text-decoration: none;
color: #ffffff;
transition: color 0.3s ease;
}

#menuToggle a:hover {
color: rgb(0, 255, 42);
}

#menuToggle input {
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0;
z-index: 2;

-webkit-touch-callout: none;
}

#menuToggle span {
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background: #ffffff;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child {
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px);
}

#menu {
position: absolute;
width: 176px;
margin: -100px 0 0 -50px;
padding: 50px;
padding-top: 115px;

background: #000000;
list-style-type: none;
-webkit-font-smoothing: antialiased;

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
padding: 10px 0;
font-size: 22px;
font-family: 'Anonymous Pro', monospace;
}

#menuToggle input:checked ~ ul {
transform: none;
}