@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0px 0px 0px;
  padding: 0;
  outline: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: #7159c1;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 980px;
  
  margin: auto;
}

header img {
  width: 150px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem; 
  padding: 2.4rem;
  transition: all 250ms linear 0s;
  font-family: 'Anonymous Pro', monospace;
}

header nav ul li a:hover {
  background: rgba(255,255,255, 0.15)
}

h2 {
  color: #000000;
  font-size: 3.5rem;
  line-height: 4.6rem;
  margin: -10px 15px -6px;
}

h6 {
  color: #000000;
  font-size: 3.5rem;
  line-height: 4.6rem;
  margin: -10px -54px -6px;
}

h3 {
  color: rgb(75, 75, 75);
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  margin: 6px 4px 14px;
  padding: 06px 07px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.button:hover {
  opacity: 0.9;
}

/*************************
Corpo Alunos & Professores
**************************/
body {
  background-color: #ffffff;
}

section.hero {
  margin: 20px 0px;
}

section.hero .container {
  width: 90%;
  max-width: 127px;

  margin: auto;

  display: flex;
}

section.hero p {
  color: rgb(154, 142, 191);
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
}

#card h2 {
  font-size: 10%;
}

h5 {
  font-size: 1.9rem;
  margin: 08px;
}

footer {
  padding: 8px;
  background-color: #7159c1;
}

/*hr*/
hr.zig, hr.zag {
  border: none;
  height: 30px;
  margin: 1px -77px;
}

hr.zig{
  background: linear-gradient(-135deg, #ffffff 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg,#ffffff 20px, rgba(0, 0, 0, 0) 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  position: relative;
}

hr.zag {
  background: linear-gradient(-135deg, #333 20px, rgba(0, 0, 0, 0) 0) 0 5px, linear-gradient(135deg, #333 20px, #ffffff 0) 0 5px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 20px 40px;
  z-index: 50;
  margin-top: -28px;
}