@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

.hidden {
  opacity:0;
}
.console-container {
 
  font-family: 'Anonymous Pro', monospace;
  font-size:10em;
  text-align:center;
  height:200px;
  width:100%;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}